*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: fit-content;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color:#001758;
    border-bottom: 5px solid grey;
}
.image{
    height: 100%;
    width: auto;
    

}
.image img{
    height: 100%;

}
.options{
    display: flex;
    justify-content: center;
    gap: 25px;
   
}
.options a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}
.options a:hover{
    transform: scale(1.1);
}
.border{
    height: 2px;
    width: 95%;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(58, 58, 58);
}

.panel{
    margin:auto;
    margin-top: 20px;
    width: 96%;
    background-color: rgb(190, 190, 190);
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 40px;
   
    border-radius: 20px;
}
#quote{
    
    text-align: center;
    font-size: 1.9rem;
}
#author{
    text-align: right;
    font-size: 1.2rem;
}
.calculator{
    margin-top: 30px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.calculator h1{
    font-size: 1.9rem;
    margin-left: 30px;
    margin-bottom: 20px;
}
.markings{
    text-decoration: none;
    margin-top: 25px;
    margin-left: 30px;
}
.input{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    
}

.input div{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    

}
.input input{
    
    height: 35px;
    width: 70%;
    border-radius: 20px;
    background-color: rgb(206, 204, 204);
    padding-left: 15px;
    font-size: smaller;
}

.Waste input{

    height: 20px;
    width: fit-content;
    margin-right: 10px;

}
.edit{
    font-size: 1rem;
}
#button{
    margin: 25px 420px;
    height: 50px;
    width: 200px;
    color: white;
    background-color: #001758;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}
#alert1,#alert2{
    display: none;
    font-size: 15px;
    color: red;
}
#alert1 i,#alert2 i{
    font-size: 20px;
    margin-right: 5px;
}
#recalculate{
    margin-left: 300px;
    margin-bottom: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001758;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.result p{
    
    margin-bottom: 10px;
}

.result{
    opacity: 0;
    margin-left: 30px;
    margin-top:20px ;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.hide{
    visibility: hidden;
  
}
#fact{
    font-size: 1rem;
    
}
#recalculate:hover,#button:hover{
    background-color: #00091f;
}
span{
    color: grey;
}

.fade-in{
    animation:0.5s ease comeup forwards ;
}
@keyframes comeup {

    to{
        opacity: 1;
       
    }
    
}
.fade-out{
    animation:0.5s ease comedown forwards;
}
@keyframes comedown{
   to{
    opacity: 0;
    
   }
}
